<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjzai1.xjzai1picturebackend.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.xjzai1.xjzai1picturebackend.model.domain.Picture">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="pictureSize" column="picture_size" jdbcType="BIGINT"/>
            <result property="pictureWidth" column="picture_width" jdbcType="INTEGER"/>
            <result property="pictureHeight" column="picture_height" jdbcType="INTEGER"/>
            <result property="pictureScale" column="picture_scale" jdbcType="DOUBLE"/>
            <result property="pictureFormat" column="picture_format" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,name,
        introduction,category,tags,
        picture_size,picture_width,picture_height,
        picture_scale,picture_format,user_id,
        create_time,edit_time,update_time,
        is_delete
    </sql>
</mapper>
