<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjzai1.xjzai1picturebackend.mapper.SpaceMapper">

    <resultMap id="BaseResultMap" type="com.xjzai1.xjzai1picturebackend.model.domain.Space">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="spaceName" column="space_name" jdbcType="VARCHAR"/>
            <result property="spaceLevel" column="space_level" jdbcType="INTEGER"/>
            <result property="maxSize" column="max_size" jdbcType="BIGINT"/>
            <result property="maxCount" column="max_count" jdbcType="BIGINT"/>
            <result property="totalSize" column="total_size" jdbcType="BIGINT"/>
            <result property="totalCount" column="total_count" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="spaceType" column="space_type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,space_name,space_level,
        max_size,max_count,total_size,
        total_count,user_id,create_time,
        edit_time,update_time,is_delete,space_type
    </sql>
</mapper>
